$White: #ffffff;
$Black: #000000;
$DeepBlue: #2F54EB;
$DeepGreen: #52C41A;
$Orange: #FA8C16;
$LightOrange: #FCC58A;
$DeepOrange: #F16E00;
$DeeperOrange: #E16803;
$Grey: #646464;
$LightGrey: #F5F6FE;


$Violet: #9E62F0;
$LightViolet: #E6D7FA;
$KatPink: #FA66B9;